.search-text {
    font: 30px;
  }
 
  #api-response {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 98.5vw;
    justify-content: space-around;
    align-content: space-around;
  }
 