*,html,body{
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body{
  background-color: lightblue;
}

#api-response{
  font-size: 5rem;
}

#parent{
  display: flex;
  font-size: 10rem;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.child{
  display: flex;
  font-size: 6rem;
  height: 65rem;
  width: 40rem;
  margin: 5.5rem;
  border: solid black 0.8rem;
  border-radius: 3rem;
  background-color: rgb(70, 221, 138);
  color: black;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.Title{
  display: flex;
  font-size: 10rem;
  align-content: center;
 
}

.img{
  display: flex;
  width: 20rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.desc{
  font-size: 2.5rem;
}

.stats{
 width: 25rem;
 height: 8rem;
 margin-top: 2rem;
 font-size: 3.5rem;
 justify-content: center;
 align-items: center;
 border-radius: 0.5rem;
 background-color: rgb(144, 199, 241)
}

.stats:hover{
  transform: scale(1.2,1.2);
}

.filters{
  width: 10rem;
  height: 5rem;
  font-size: 4rem;
  margin: 1.5rem 3.5rem 1.5rem 3.5rem;
  border: solid black 0.5rem;
  background-color: lightpink;
  border-radius: 1rem;
  transition: 0.5s;
}

.filters:hover{
  transform: scale(1.2,1.2);
  background-color: rgb(224, 138, 167);
}

.name{
  margin-bottom: 1rem;
  margin-top: 1rem ;
}

.filters{
  width: 30rem;
  height: 10rem;
}

#Title{
  font-size: 15rem;
  text-align: center;
  background-color: aliceblue;
  border-radius: 1rem;
  margin-left: 25rem;
  margin-right: 25rem;
  margin-top: 2rem;
  }

  @media screen and (min-width: 32rem) and (max-width: 48rem){
    #Title {
      width: 20rem;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      display: flex;
    }
  
    #parent{
      display: flex;
      text-align: center;
      justify-items: center;
      justify-content: space-evenly;
      
    }
    
  }
  
  
  @media screen and (min-width: 48.1rem) and (max-width: 76.8rem){
    #Title {
      width: 50rem;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      display: flex;
    }
  
    #parent{
      display: flex;
      text-align: center;
      justify-items: center;
      justify-content: space-evenly;
      
    }
  }
  
  @media screen and (min-width: 76.9rem) and (max-width:238.8rem){
    #Title {
      width: 70rem;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      display: flex;
    }
  
    #parent{
      display: flex;
      text-align: center;
      justify-items: center;
      justify-content: space-evenly;
      
    }
  
  }
